<%
  type = typeof type === "undefined" ? null : type;
%>
<section class="listing clearfix">
  <ol>
    <% page.posts.each(function(post, i){ %>
      <%
        // filter the page posts by type, if specified
        if (!type || (type && post.layout === type)) {
      %>
        <%- partial('archive-post', {post: post, hasType: !!type}) %>
      <% } %>
    <% }) %>
  </ol>
</section>
