<section class="listing clearfix">
  <ol>
    <% page.posts.each(function(post, i){ %>
      <% if (!type || (type && post.layout === type)) { %>
        <%- partial('archive-post', {post: post, hasType: !!type}) %>
      <% } %>
    <% }) %>
  </ol>
</section>
