<%
  if (typeof category === "string") {
    posts = site.categories.findOne({name: category}).posts.sort('date', -1)
  } else {
    posts = page.posts
  }
%>
<section class="listing clearfix">
  <ol>
    <% posts.forEach(function(post){ %>
        <%- partial('archive-post', {post: post}) %>
    <% }) %>
  </ol>
</section>
