<section class="listing clearfix">
  <ol>
    <% page.posts.each(function(post, i){ %>
      <% if (post.layout === 'post') { %>
        <%- partial('archive-post', {post: post}) %>
      <% } %>
    <% }) %>
  </ol>
</section>
