<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    <p>
      <a href="http://twitter.com/fofr" rel="me">Twitter</a>
      &bull;
      <a href="http://github.com/fofr" rel="me">Github</a>
      &bull;
      <a href="http://www.last.fm/user/FofR/" rel="me">Last.fm</a>
      &bull;
      <a href="http://flickr.com/prhayes" rel="me">Flickr</a>
      &bull;
      <a href="http://500px.com/FofR" rel="me">500px</a>
      &bull;
      <a href="http://www.sam-and-paul.com" rel="me">Travel blog</a>
      &bull;
      <a href="http://www.projectnoah.org/users/fofr" rel="me">Project Noah</a>
    </p>
  </div>
</footer>
