<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <p>
      <a href="https://paulhayes.photography" rel="me">Photography</a>
      &bull;
      <a href="https://twitter.com/fofr" rel="me">Twitter</a>
      &bull;
      <a href="https://github.com/fofr" rel="me">Github</a>
      &bull;
      <a href="http://www.last.fm/user/FofR/" rel="me">Last.fm</a>
      &bull;
      <a href="https://flickr.com/prhayes" rel="me">Flickr</a>
      &bull;
      <a href="https://500px.com/FofR" rel="me">500px</a>
      &bull;
      <a href="https://sam-and-paul.com" rel="me">Travel blog</a>
    </p>
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> Paul Hayes &mdash; <a href="/contact">Contact</a></p>
  </div>
</footer>
