<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    <p>
      <a href="http://twitter.com/fofr" rel="me" title="What I’m talking about">Twitter</a>
      &bull;
      <a href="http://github.com/fofr" rel="me" title="My code">Github</a>
      &bull;
      <a href="http://www.last.fm/user/FofR/" rel="me" title="Music I’ve listened to, and where I work">Last.fm</a>
      &bull;
      <a href="http://flickr.com/prhayes" rel="me" title="My aspiring photography">Flickr</a>
      &bull;
      <a href="http://www.sam-and-paul.com" rel="me" title="My adventures">Travel blog</a>
      &bull;
      <a rel="author" rel="me" href="https://plus.google.com/101305158833886436755?rel=author">Google+</a>
    </p>
  </div>
</footer>
