<header class="masthead">
  <% if (is_home()) { %>
    <h1 class="site-title site-title--index">
      I&#8217;m Paul Hayes
    </h1>
    <p class="site-tagline caslon">I design and build websites. I work at <a href="http://last.fm/user/fofr">Last.fm</a> and live by the sea in Brighton. I love to experiment with CSS, HTML and JavaScript. The best place to find me is <a href="http://twitter.com/fofr" rel="external" title="@fofr">on Twitter</a>.</p>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
    </div>
  <% } %>
</header>
