<header class="masthead">
  <% if (is_home()) { %>
    <div class="h-card">
      <h1 class="site-title site-title--index p-name">
        Paul Hayes
      </h1>
      <div class="site-tagline caslon">
        <p class="p-note">I design and build websites from <span class="p-locality">Brighton</span> &amp; London. Since September 2013 I’ve been contracting with <a href="https://gds.blog.gov.uk/">Government Digital Service</a>, who are “leading the digital transformation of government”. I also enjoy <a href="/category/photography/">taking photos</a>.</p>
        <p>You can find me on <a href="http://twitter.com/fofr" class="u-url" rel="me">Twitter (@<b class="p-nickname">fofr</b>)</span></a> and&nbsp;<a href="http://github.com/fofr" class="u-url" rel="me" title="@fofr">Github</a>.</p>
      </div>
    </div>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
    </div>
  <% } %>
</header>
