<header class="masthead">
  <% if (is_home()) { %>
    <h1 class="site-title site-title--index">
      Paul Hayes
    </h1>
    <p class="site-tagline caslon">I design and build websites from Brighton &amp; London. Since September 2013 I’ve been contracting with <a href="https://gds.blog.gov.uk/">Government Digital Service</a>, who are “leading the digital transformation of government”. You can find me on <a href="http://twitter.com/fofr" rel="external" title="@fofr">Twitter</a> and <a href="http://github.com/fofr" rel="external" title="@fofr">Github</a>.</p>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
    </div>
  <% } %>
</header>
