<header class="masthead">
  <% if (is_home()) { %>
    <div class="h-card">
      <h1 class="site-title site-title--index p-name">
        Paul Hayes
      </h1>
      <div class="site-tagline caslon">
        <p class="p-note">I design and build websites from <span class="p-locality">Brighton</span> and London. I’m working with <a href="https://gds.blog.gov.uk/">Government Digital Service</a>, who are leading the digital transformation of government. I also <a href="http://paulhayes.photography">take photos</a>.</p>
        <p><a href="/contact">Email me</a> or find me on <a href="https://twitter.com/fofr" class="u-url" rel="me">Twitter (@<b class="p-nickname">fofr</b>)</a> and&nbsp;<a href="https://github.com/fofr" class="u-url" rel="me" title="@fofr">Github</a>.</p>
      </div>
    </div>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
      <a href="https://twitter.com/fofr" class="masthead-twitter" rel="me">
        <img src="/images/twitter.png" width="32" height="32" alt="Follow @fofr on Twitter" title="Follow @fofr on Twitter" />
      </a>
    </div>
  <% } %>
</header>
