<article class="article h-entry" role="main">
  <header class="article-header">
    <h1 class="main-content-title entry-title p-name">
      <%= page.title %>
    </h1>
  </header>
  <div class="article-content entry-content e-content">
    <%- page.content %>
  </div>
  <%- partial('page/page-footer') %>
</article>
