<p>
  <a href="<%= photo.link_path %>">Original</a><% if (photo.flickr) { %>, <a href="<%= photo.flickr %>" rel="alternate">Flickr</a><% } %><% if (photo['500px']) { %>, <a href="<%= photo['500px'] %>" rel="alternate">500px</a><% } %><% if (photo.instagram) { %>, <a href="<%= photo.instagram %>" rel="alternate">Instagram</a><% } %>
</p>
