<footer class="article-footer">
  <p class="article-discussion"><a href="https://github.com/fofr/paulrhayes.com/tree/master/source/_posts/<%= page.slug %>.md" rel="alternate">This article is available on Github in Markdown format</a></p>
  <div class="media h-card p-author">
    <img src="http://1.gravatar.com/avatar/71f534a5deac2c9aa23b1a9c6de4f2e1?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" alt="Paul Hayes" class="media-pull-left paul-avatar u-photo" />
    <div class="media-body p-note">
      <strong class="p-name">Paul Hayes</strong> is currently contracting at <a href="https://gds.blog.gov.uk/">Government Digital Service</a> after working for <a href="http://www.last.fm/user/FofR/" rel="me">Last.fm</a>. You can find him <a href="http://twitter.com/fofr" rel="me">on Twitter (@<span class="p-nickname">fofr</span>)</a>, where he talks about user experience, front-end development and design, amongst other day to day ramblings.
    </div>
  </div>
</footer>
