<time datetime="<%= date_xml(post.date) %>" class="entry-date published dt-published" pubdate>
  <%= date(post.date, 'D MMM') %>
  <a href="/archive/<%= date(post.date, 'YYYY') %>"><%= date(post.date, 'YYYY') %></a>
</time>
