Options -Indexes
ErrorDocument 404 /404.html

RewriteEngine On
RewriteRule ^(\d{4})/?$ /archive/$1/ [R=301,NC,L]
RewriteRule ^(\d{4})-\d{2}/?$ /archive/$1/ [R=301,NC,L]
RewriteRule ^(\d{4})/(\d{2})/?$ /archive/$1/$2/ [R=301,NC,L]
RewriteRule ^page/ /archive/ [R=301,NC,L]
RewriteRule ^feed/ /atom.xml [R=301,NC,L]
RewriteRule ^email/?$ /contact/ [R=301,NC,L]
RewriteRule ^category/(.*)$ /$1 [R=301,NC,L]

# Redirects to paulhayes.photography
RewriteRule ^photography/?$ http://paulhayes.photography [R=301,NC,L]
RewriteRule ^category/photography/?$ http://paulhayes.photography [R=301,NC,L]
RewriteRule ^2014-09/hong-kong/$ http://paulhayes.photography/2014-09/hong-kong/ [R=301,NC,L]
RewriteRule ^2014-09/longsheng-rice-terraces/$ http://paulhayes.photography/2014-09/longsheng-rice-terraces/ [R=301,NC,L]
RewriteRule ^2014-09/mirror-lake-jiuzhaigou/$ http://paulhayes.photography/2014-09/mirror-lake-jiuzhaigou/ [R=301,NC,L]
RewriteRule ^2014-09/striped-blue-crow-butterfly/$ http://paulhayes.photography/2014-09/striped-blue-crow-butterfly/ [R=301,NC,L]
RewriteRule ^2014-08/dawn-ascent/$ http://paulhayes.photography/2014-08/dawn-ascent/ [R=301,NC,L]
RewriteRule ^2014-07/lightning-brighton-station/$ http://paulhayes.photography/2014-07/lightning-brighton-station/ [R=301,NC,L]
RewriteRule ^2014-07/lightning-brighton/$ http://paulhayes.photography/2014-07/lightning-brighton/ [R=301,NC,L]
RewriteRule ^2014-06/tawny-owl/$ http://paulhayes.photography/2014-06/tawny-owl/ [R=301,NC,L]
RewriteRule ^2014-06/fox/$ http://paulhayes.photography/2014-06/fox/ [R=301,NC,L]
RewriteRule ^2014-06/fox-profile/$ http://paulhayes.photography/2014-06/fox-profile/ [R=301,NC,L]
RewriteRule ^2014-06/polecat/$ http://paulhayes.photography/2014-06/polecat/ [R=301,NC,L]
RewriteRule ^2014-06/harvest-mouse-on-wheat/$ http://paulhayes.photography/2014-06/harvest-mouse-on-wheat/ [R=301,NC,L]
RewriteRule ^2014-06/harvest-mouse/$ http://paulhayes.photography/2014-06/harvest-mouse/ [R=301,NC,L]
RewriteRule ^2014-03/great-argus/$ http://paulhayes.photography/2014-03/great-argus/ [R=301,NC,L]
RewriteRule ^2014-03/sunbird/$ http://paulhayes.photography/2014-03/sunbird/ [R=301,NC,L]
RewriteRule ^2014-03/kota-kinabalu-sunset/$ http://paulhayes.photography/2014-03/kota-kinabalu-sunset/ [R=301,NC,L]
RewriteRule ^2014-03/kuching/$ http://paulhayes.photography/2014-03/kuching/ [R=301,NC,L]
RewriteRule ^2014-01/brighton-west-pier/$ http://paulhayes.photography/2014-01/brighton-west-pier/ [R=301,NC,L]
RewriteRule ^2013-10/first-dance/$ http://paulhayes.photography/2013-10/first-dance/ [R=301,NC,L]
RewriteRule ^2013-06/brighton-pavilion/$ http://paulhayes.photography/2013-06/brighton-pavilion/ [R=301,NC,L]
RewriteRule ^2011-11/iguacu-falls/$ http://paulhayes.photography/2011-11/iguacu-falls/ [R=301,NC,L]

# Avoid www. in URL
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

AddCharset UTF-8 .html

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
