<h2 class="main-content-title">
  Projects
</h2>
<%- partial('_partial/archive', {category: 'projects'}) %>

<h2 class="main-content-title">
  Writing
</h2>
<%- partial('_partial/archive', {category: 'writing'}) %>

<h2 class="main-content-title">
  Experiments
</h2>
<%- partial('_partial/archive', {category: 'experiments'}) %>
