<%
  photo = page;
  photo.image_path = '/photo/' + date(photo.date, 'YYYY-MM') + '-' + photo.slug + '.' + (photo.type ? photo.type : 'jpg');
%>
<article class="single-photo" role="main">
  <div class="text-center">
    <img src="<%= photo.image_path %>" class="photo-image" alt="<%= photo.title %>" />
  </div>
  <header class="photo-header">
    <h1 class="main-content-title photo-title">
      <%= photo.title %>
    </h1>
  </header>
  <div class="container photo-content">
    <%- photo.content %>
  </div>
</article>
